<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/mainpicture.css" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <style>
        .button-container {
            text-align: center;
        }

        .button-container img {
            width: 300px; /* 원하는 이미지 너비로 조절 */
            height: 200px; /* 원하는 이미지 높이로 조절 */
            /* 다른 스타일도 필요하면 여기에 추가 가능 */
        }

        .button-container .button {
            margin-top: 10px; /* 버튼과 이미지 사이의 간격 조절 */
            /* 다른 스타일도 필요하면 여기에 추가 가능 */
        }
        </style>
    </head>
    <body>
        <nav id="slide-menu">
            <ul>
                <li class="homepage">Homepage</li>
                <li class="frost">Frost</li>
                <li class="drunk">Drunk</li>
                <li class="zone">Dangerous Zone</li>
                <li class="logout">Logout</li>
            </ul>
        </nav>
        <div class="container">
            <h1>도로 사고 정보</h1>
            <p>다양한 교통 사고 정보를 맵으로 볼 수 있는 페이지입니다.</p>
            <div class="button-container">
                <img
                    src="https://www.yeongnam.com/mnt/file/201911/20191129.99001141958508101.jpg"
                    alt="Image"
                    width="300"
                    height="200"
                />
                <div class="button -dark center">See Total Chart / Map</div>

                <div class="button -green center">See Total Map</div>

                <div class="button -blue center">Frost Chart / Map</div>

                <div class="button -salmon center">Drunk Chart / Map</div>

                <div class="button -salmon center">Login / Map</div>
            </div>
        </div>
    </body>
    <script src="../static/js/mainpagecontent.js"></script>
</html>
