<!-- menu.html -->
<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li class="has-subnav">
            <a href="/testMain" target="_blank">
                <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    Main Page
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="/page1">
                <i class="fa fa-camera-retro fa-2x"></i>
                <span class="nav-text">
                    Page1
                </span>
            </a>
        </li>
        <!-- 기타 메뉴 항목들 -->
    </ul>
    <ul class="login">
        <li>
            <a href="/login">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Login
                </span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>