<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=65660613517dc4b3d166da88513858dd"></script>
</head>
<body>
<body>
    <div id="map1" style="width:50%;height:350px;"></div>
    <div id="map2" style="width:50%;height:350px;"></div>

    <script>
        var mapContainer1 = document.getElementById('map1');
        var mapOption1 = { 
            center: new kakao.maps.LatLng(37.566826, 126.9786567),
            level: 5
        };
        var map1 = new kakao.maps.Map(mapContainer1, mapOption1);

        var mapContainer2 = document.getElementById('map2');
        var mapOption2 = { 
            center: new kakao.maps.LatLng(37.566826, 126.9786567),
            level: 5
        };
        var map2 = new kakao.maps.Map(mapContainer2, mapOption2);
    </script>
</body>
</html>