<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Join Page</title>
</head>

<body>
    <div class="login-box">
        <h2>회원 가입</h2>
        <form action="/join" method="post" id="join">
            <div class="user-box">
                <input type="text" name="id" placeholder="아이디를 입력해주세요." />
                <label>아이디</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" placeholder="비밀번호를 입력해주세요." />
                <label>비밀번호</label>
            </div>
            <div class="user-box">
                <!-- <input type="addr" name="addr" placeholder="Test" /> -->
                <label>거주지역</label>
                <select name="addr" id="addr">
                    <option value="" disabled selected>--선택해주세요--</option>
                    <option value="Seoul">서울</option>
                    <option value="Busan">부산</option>
                    <option value="Daegu">대구</option>
                    <option value="Gyeonggi-do">경기</option>
                    <option value="Incheon">인천</option>
                    <option value="Daejeon">대전</option>
                    <option value="Gwangju">광주</option>
                    <option value="Gangneung">강원</option>
                    <option value="Ulsan">울산</option>
                    <option value="Sejong">충청</option>
                    <option value="Mokpo">전라</option>
                    <option value="Changwon">경상</option>
                    <option value="Jeju">제주</option>
                </select>
            </div>
            <a href="#" onclick="return joinChk()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                즉시 가입
            </a>
        </form>
    </div>
</body>

<script src="../static/js/join.js"></script>

</html>