<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo 메인화면</title>

    <link rel="stylesheet" th:href="@{/index.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

</head>

<body>
    <div class="app-container d-flex align-items-center justify-content-center flex-column">
        <h3>Todo App</h3>
        <div class="table-wrapper-ice">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th> Title </th>
                        <th> 날짜 </th>
                    </tr>
                </thead>
                <tbody>
                    {{#iceList}}
                    {{#local1}}
                    {{#date1}}
                    <tr>
                        <td>
                            <a href="{{url}}" target="_blank">{{title}}</a>
                        </td>
                        <td>{{date1}}</td>
                    </tr>
                    {{/date1}}
                    {{/local1}}
                    {{/iceList}}
                </tbody>
            </table>
        </div>
        

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>